.hero {
  background-color: #ffb8ca;
}

.hero__bgr {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    overflow: hidden;
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media screen and (min-width: 1280px) {
    width: 1080px;
  }

  .hero_container {
    position: relative;
    height: 502px;
    padding-left: 10px;
    padding-right: 10px;

    z-index: 5;

    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;

    @media screen and (max-width: 767px) {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 193px;
      padding-bottom: 160px;
    }

    @media screen and (min-width: 768px) {
      height: 399px;

      padding-top: 102px;
    }

    @media screen and (min-width: 1280px) {
      height: 665px;

      padding-top: 171px;
      padding-right: 15px;
      padding-left: 15px;

      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.hero__main {
  display: flex;
}

.hero__tittle {
  display: block;

  font-size: 48px;
  line-height: 0.965;
  text-transform: uppercase;

  letter-spacing: 0.01em;

  &--main {
    display: block;
  }

  &--acsent {
    display: block;

    font-size: 26px;
    line-height: 1.145;
    letter-spacing: 0.04em;

    color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.9;

    &--acsent {
      font-size: 22px;
      line-height: 1.14;
    }
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;

    &--acsent {
      font-size: 38px;
    }
  }
}

.buttons {
  display: flex;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 18px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 25px;
  }
}

.buttons__item {
  & + & {
    margin-left: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    & + & {
      margin-left: 8px;
    }
  }
}

.hero_button {
  padding: 6px 13px;
  border-radius: 12px;

  @media screen and (min-width: 1280px) {
    padding: 10px 20px;
    border-radius: 20px;
  }
}

.hero__list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
    // padding-right: 8px;
  }
}

.hero__item {
  position: relative;

  display: block;

  @media screen and (max-width: 1279px) {
    & + & {
      margin-top: 15px;
    }
  }

  @media screen and (min-width: 1280px) {
    margin-top: 18px;
  }

  @include Animation(transform);

  &:hover,
  &:focus {
    transform: scale(1.25);
  }
}

.hero__number {
  display: block;
  margin-bottom: 6px;
  text-align: right;

  font-family: Titan One;
  font-size: 28px;
  letter-spacing: 1.145;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;

  @media screen and (min-width: 1280px) {
    font-size: 46px;
  }
}

.hero__label {
  display: block;
  text-align: right;

  line-height: 0.9;

  @media screen and (min-width: 1280px) {
    line-height: 1.3;
  }

  &--top::after {
    content: '';

    z-index: -1;
    position: absolute;
    top: -5px;
    right: -8px;

    display: block;

    background-color: #ffffff;

    @include circle(16px);
    animation: animate_circle 2000ms;
    animation-delay: 4500ms;

    @media screen and (min-width: 1280px) {
      top: -7px;
      right: -16px;

      @include circle(32px);
    }
  }

  &--bottom::after {
    content: '';

    z-index: -1;
    position: absolute;
    top: -5px;
    right: -8px;

    display: block;

    background-color: #ffffff;

    @include circle(16px);
    animation: animate_circle 2000ms;
    animation-delay: 5500ms;

    @media screen and (min-width: 1280px) {
      top: -7px;
      right: -16px;

      @include circle(32px);
    }
  }
}

.hero_massege {
  @mixin box($margin, $width, $padding) {
    width: ($padding + $width);
    margin-top: $margin;
    padding-left: $padding;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    @include box(66px, 114px, 120px);
  }

  @media screen and (min-width: 1280px) {
    @include box(112px, 200px, 180px);
  }

  @include Animation(transform);
  &:hover,
  &:focus {
    transform: scale(1.25);
  }
}

// .hero__text {

// }
.hero__arrow {
  @include circle(18px);

  background-color: var(--second-complementary-text-color);

  @include Animation(background-color);

  &:hover,
  &:focus {
    background-color: var(--activity-text-color);
  }

  &--more {
    margin-top: 7px;
  }

  &--less {
    margin-top: 3px;
  }

  @media screen and (min-width: 1280px) {
    @include circle(26px);

    &--more {
      margin-top: 20px;
    }

    &--less {
      margin-top: 5px;
    }
  }
}

.icon-arrow {
  display: block;
  width: 6px;
  height: 6px;

  fill: var(--activity-text-color);

  @include Animation(fill);

  .hero__arrow:hover &,
  .hero__arrow:focus & {
    fill: var(--second-complementary-text-color);
  }

  @media screen and (min-width: 1279px) {
    width: 8px;
  }
}

.hero__img {
  z-index: -2;
  position: absolute;

  @media screen and (max-width: 767px) {
    &--left,
    &--right {
      display: none;
    }

    &--center {
      left: 117px;
      bottom: 0;
      width: 171px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    &--left {
      left: 10px;
      bottom: 28px;
      width: 124px;
    }

    &--right {
      right: 2px;
      bottom: 0;
      width: 168px;
    }

    &--center {
      left: 354px;
      bottom: 0;
      width: 143px;
    }
  }

  @media screen and (min-width: 1280px) {
    &--left {
      left: -23px;
      bottom: 45px;
      width: 188px;
    }

    &--right {
      right: 9px;
      bottom: 0;
      width: 293px;
    }

    &--center {
      left: 480px;
      bottom: 0;
      width: 236px;
    }
  }
}

.hero__circle {
  position: absolute;
  z-index: -11;

  background-color: #ffa5ba;

  @media screen and (max-width: 767px) {
    top: 83px;
    @include circle(346px);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 31px;
    left: 307px;
    @include circle(324px);
  }

  @media screen and (min-width: 1280px) {
    top: 46px;
    left: 370px;
    @include circle(538px);
  }

  animation: animate_circle 5000ms 1000ms;
  animation-delay: 2000ms;

  @keyframes animate_circle {
    0% {
      transform: scale(1);
    }

    20% {
      transform: scale(0.4);
    }

    50% {
      transform: scale(1.25);
    }

    100% {
      transform: scale(1);
    }
  }
}
