<section class="advantages__section" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__icon advantages__icon-1">721</p>
        <p class="advantages__text">Our farm can produce 721 liters of safe organic milk per day</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__icon advantages__icon-2">16kg</p>
        <p class="advantages__text">We use 16 kg of ripe, fresh, and juicy fruits and berries</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__icon advantages__icon-3">84</p>
        <p class="advantages__text">to make 84 portions, the taste of which you will never forget</p>
      </li>
    </ul>
  </div>
</section>
