<section id="gallery" class="gallery">
  <h2 class="visually-hidden">GALLERY</h2>
  <picture>
    <source
      srcset="./images/mobile/gallery.jpg 1x, ./images/mobile/gallery@2x.jpg 2x"
      type="image/jpeg"
      media="(max-width: 767px)"
    />
    <source
      srcset="./images/tablet/gallery.jpg 1x, ./images/tablet/gallery@2x.jpg 2x"
      type="image/jpeg"
      media="(min-width: 768px) and (max-width: 1279px)"
    />
    <source
      srcset="./images/desktop/gallery.jpg 1x, ./images/desktop/gallery@2x.jpg 2x"
      type="image/jpeg"
      media="(min-width: 1280px)"
    />
    <img class="gallery__img" src="./images/desktop/gallery.jpg" alt="gallery" />
  </picture>
</section>
