<header class="header">
  
    <div class="header__container container">
      <a href="./index.html" class="logo">
        <picture>
          <source srcset="
                    ./images/icon-logo.png 1x,
                    ./images/icon-logo@2x.png 2x
                    " type="image/png" />
          <img class="logo__icon" src="./images/icon-logo.png" alt="logo Icecream" />
        </picture>
        <p class="logo__text">icecream</p>
      </a>
    
      <div class="menu__backdrop js-menu-container" id="menu-container">
        <div class="menu">
          <button type="button" class="btn-reset switch switch__close js-close-menu" aria-expanded="false"
            aria-controls="menu-container">
            <svg class="switch__box" aria-label="Mobile menu switch">
              <use class="icon-close" href="./images/icons.svg#icon-close"></use>
            </svg>
          </button>
    
          <button class="button button__header button__header--menu button--light" data-modal-header-open>
            Buy now
            <svg class="header__button-icon" width="10" height="10">
              <use href="./images/icons.svg#icon_button"></use>
            </svg>
          </button>
    
          <nav class="navigation">
            <ul class="navigation__tabs">
              <li class="navigation__tab"><a href="#hero" class="nav-link">Home</a></li>
              <li class="navigation__tab"><a href="#advantages" class="nav-link">About us</a></li>
              <li class="navigation__tab"><a href="#about" class="nav-link">How it’s made?</a></li>
              <li class="navigation__tab"><a href="#products" class="nav-link">Our products</a></li>
              <li class="navigation__tab"><a href="#contacts" class="nav-link">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    
      <button type="button" class="btn-reset switch switch__burger js-open-menu" aria-expanded="false">
        <svg class="switch__box" aria-label="Mobile menu switch">
          <use class="icon-burger" href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="button button__header button__header--with-out-menu button--light" data-modal-header1-open>
        Buy now
        <svg class="header__button-icon" width="10" height="10">
          <use href="./images/icons.svg#icon_button"></use>
        </svg>
      </button>

    </div>
    <!-- backdrop -->
    <div class="modal-header-wrap modal-header-wrap--is-hidden" data-modal-header>
      <div class="modal-header">
        <button type="button" class="circle-btn-header" data-modal-header-close >
          <svg class="modal__icon-close" width="11" height="11">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        
        <p class="modal-header__title">Leave your contact details, we will call you back</p>
        <form class="form-header">
          <label class="form-header__group">Name
            <span class="form-header__icon-box">
              <input type="text" class="form-header__input form-header-control" name="name" />
              <svg width="18" height="18" class="form-header__icon">
                <use href="./images/icons.svg#name"></use>
              </svg>
            </span>
          </label>
          <label class="form-header__group">Phone
            <span class="form-header__icon-box">
              <input type="text" class="form-header__input form-header-control" name="phone" />
              <svg width="18" height="18" class="form-header__icon">
                <use href="./images/icons.svg#phone"></use>
              </svg>
            </span>
          </label>
          <label class="form-header__group">Email
            <span class="form-header__icon-box">
              <input type="text" class="form-header__input form-header-control" name="mail" />
              <svg width="18" height="18" class="form-header__icon">
                <use href="./images/icons.svg#email"></use>
              </svg>
            </span>
          </label>
          <label class="form-header__comment">Your comments
            <textarea name="comment" placeholder="Enter your text"
              class="form-header__textarea form-header-control"></textarea>
          </label>
          <div class="form-header__checkbox">
            <label class="form-header__label-checkbox">
              <input type="checkbox" name="checkbox" class="form-header__input-checkbox visually-hidden" />
              <span class="form-header__icon-checkbox form-header__icon-checkbox--left">
                <svg width="16" height="15">
                  <use href="./images/icons.svg#check"></use>
                </svg>
              </span>
              I agree to receive your emails and accept &nbsp;<a href="#" class="form-header__link-checkbox">the terms of the
                contract</a></label>
          </div>
    
          <button type="submit" class="button button__header form-header__button  button--dark">
            Send
            <svg class="header__button-icon header__button-icon--light" width="10" height="10">
              <use href="./images/icons.svg#icon_button"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>

    <div class="modal-header-wrap modal-header-wrap--is-hidden" data-modal-header1>
      <div class="modal-header">
        <button type="button" class="circle-btn-header" data-modal-header1-close>
          <svg class="modal__icon-close" width="11" height="11">
            <use href="./images/icons.svg#icon-close"></use>


          </svg>
        </button>
    
        <p class="modal-header__title">Leave your contact details, we will call you back</p>
        <form class="form-header">
          <label class="form-header__group">Name
            <span class="form-header__icon-box">
              <input type="text" class="form-header__input form-header-control" name="name" />
              <svg width="18" height="18" class="form-header__icon">
                <use href="./images/icons.svg#name"></use>
              </svg>
            </span>
          </label>
          <label class="form-header__group">Phone
            <span class="form-header__icon-box">
              <input type="text" class="form-header__input form-header-control" name="phone" />
              <svg width="18" height="18" class="form-header__icon">
                <use href="./images/icons.svg#phone"></use>
              </svg>
            </span>
          </label>
          <label class="form-header__group">Email
            <span class="form-header__icon-box">
              <input type="text" class="form-header__input form-header-control" name="mail" />
              <svg width="18" height="18" class="form-header__icon">
                <use href="./images/icons.svg#email"></use>
              </svg>
            </span>
          </label>
          <label class="form-header__comment">Your comments
            <textarea name="comment" placeholder="Enter your text"
              class="form-header__textarea form-header-control"></textarea>
          </label>
          <div class="form-header__checkbox">
            <label class="form-header__label-checkbox">
              <input type="checkbox" name="checkbox" class="form-header__input-checkbox visually-hidden" />
              <span class="form-header__icon-checkbox form-header__icon-checkbox--left">
                <svg width="16" height="15">
                  <use href="./images/icons.svg#check"></use>
                </svg>
              </span>
              I agree to receive your emails and accept &nbsp;<a href="#" class="form-header__link-checkbox">the terms of the
                contract</a></label>
          </div>
    
          <button type="submit" class="button button__header form-header__button  button--dark">
            Send
            <svg class="header__button-icon header__button-icon--light" width="10" height="10">
              <use href="./images/icons.svg#icon_button"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  
</header>

<!-- script to modal Buy now -->
<!-- <script>
  (() => {
    const refs = {
      openModalBtn: document.querySelector('[data-modal-header-open]'),
      closeModalBtn: document.querySelector('[data-modal-header-close]'),
      modal: document.querySelector('[data-modal-header]'),
    };

    refs.openModalBtn.addEventListener('click', toggleModal);
    refs.closeModalBtn.addEventListener('click', toggleModal);

    function toggleModal() {
      refs.modal.classList.toggle('modal-header-wrap--is-hidden');
    }
  })();

</script>

<script>
  (() => {
    const refs = {
      openModalBtn: document.querySelector('[data-modal-header1-open]'),
      closeModalBtn: document.querySelector('[data-modal-header1-close]'),
      modal: document.querySelector('[data-modal-header]'),
    };

    refs.openModalBtn.addEventListener('click', toggleModal);
    refs.closeModalBtn.addEventListener('click', toggleModal);

    function toggleModal() {
      refs.modal.classList.toggle('modal-header-wrap--is-hidden');
    }
  })();
</script>

 -->

