<section class="products__section" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__section-headline">products</h2>
    <ul class="products__list">
      <li class="products__ice-cream">
        <h3 class="products__item-headline">ice cream</h3>
        <p class="products__item-text">
          Choose your favorite flavor: strawberry, chocolate, coffee, vanilla, hazelnut, pistachio,
          or watermelon
        </p>
        <button class="btn-arrow" aria-label="read more">
          <svg class="arrow-right" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__ice-coffee">
        <h3 class="products__item-headline">ice coffee</h3>
        <p class="products__item-text">
          Cold premium coffee with ice cream or ice cubes, sugar or syrup (optionally, of your
          choice)
        </p>
        <button class="btn-arrow" aria-label="read more">
          <svg class="arrow-right" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__milkshakes">
        <h3 class="products__item-headline">milkshakes</h3>
        <p class="products__item-text">
          Crunchy cookies blended with refreshing ice cream, topped with a tower of whipped cream
        </p>
        <button class="btn-arrow" aria-label="read more">
          <svg class="arrow-right" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
